<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    <h5>
      <img class = "thumbnail" src="{{ site.baseurl }}static/img/vroom.jpg" height="200px", width="260px"><strong><a href="#">Vroomio</a></strong>
      is a 2-D multiplayer game with chat web application.It is  being built using Node.js, Socket.io, Phaser.io.
    </h5>
		<h5>
			<img class = "thumbnail" src="{{ site.baseurl }}static/img/beer.png", height="200px", width="260px", margin-left=30%><h5><strong><a href="https://beer-personality-test.herokuapp.com/home">Beer Personality Test </a></strong>
			is deployed on Heroku and was built using Ruby on Sinatra, Twitter Bootstrap, and SQLite3. 
		</h5>
		<h5>
			<img class = "thumbnail" src="{{ site.baseurl }}static/img/rotten.png" height="200px", width="260px"><strong><a href="#">Rotten Mangoes</a></strong>
			was built using Ruby on Rails and Bulma (flexbox) for most of the styling.
		</h5>
		
    <h5>
			<img class = "thumbnail" src="{{ site.baseurl }}static/img/pong.png" height="200px", width="260px"><strong><a href="#">2 player Pong</a></strong>
			 is simple HTML 2 player pong game.
		</h5>
		
	



    </div>
  </div>
</div>


</section>
